html, body {
	height: 100%;
}

body {
	display: flex;
	align-items: center;
}

body, button {
	font-family: 'Montserrat', sans-serif;
}

button {
	border: black 1px solid;
	background-color: transparent;
	border-radius: 5px;
	padding: 5px 8px;
	transition: border-color 0.5s ease-in-out;
}

button:hover,
button:active,
button:focus {
	border-color: #00cc99; 
}

.wrapper {
	max-width: 400px;
	margin: 0 auto;
	text-align: center;
}

.low {
  color: #00cc99;
}

.medium {
  color: #ffdb4d;
}

.high {
  color: #ff751a;
}

.thermometer {
	height: 300px;
	width: 10px;
	border: black 1px solid;
	position: relative;
}

#thermometer-bar {
	width: 100%;
	position: absolute;
	bottom: 0;
	transition: height 0.3s, background-color 0.3s;
}

#thermometer-bar.low {
	background-color: #00cc99;
}

#thermometer-bar.medium {
	background-color: #ffdb4d;
}

#thermometer-bar.high {
	background-color: #ff751a;
}

.thermostat-main {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}

.thermostat-controls button {
	display: block;
	margin: 10px auto;
	width: 70%;

}

.thermostat-controls {
	flex: 1;
}






































