*:focus {
	outline: none;
}

html, body {
	height: 100%;
	background-color: #ccc;
	background: -webkit-linear-gradient(45deg, #abc1d3 0%,#cccccc 100%);
	margin: 0;
}

body, button {
	color: #444;
	font-family: 'Baloo', cursive;
}

.wrapper {
	max-width: 60%;
	margin: 0 auto;
}

.main {
	float: left;
	height: 100%;
	width: 70%;
	display: flex;
	align-items: center;
}

.sidebar {
	float: left;
	height: 100%;
	width: 30%;
	background-color: #00cccc;
	background: -webkit-linear-gradient(-45deg, #7abcff 0%,#00cccc 100%);
	position: relative;
}

button {
	margin: 0 auto 0.75em;
	width: 100%;
	display: block;
	padding: 5px 10px;
	background-color: #fff;
	border: solid 3px #444;
	font-size: 1.2em;
	border-radius: 10px;
	transition: all 0.1s ease-in-out;
	box-shadow: -6px 6px 0px 0px #444;
}

button:active {
	transform: translate(-1px, 4px);
	box-shadow: -2px 2px 0px 0px #444;
}

button:hover {
	cursor: pointer;
	background-color: #00cccc;
	color: #fff;
}

button#input-reset:hover {
	background-color: #ff6666;
}

.thermostat-controls {
	margin: 2em auto;
}

#output-temperature {
	position: absolute;
	top: 10%;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
	font-size: 2em;
	color: #eee;
}

#output-temperature::after {
	content: '\00B0 C';
}

.thermometer {
	height: 50%;
	width: 30px;
	position: absolute;
	top: 0;
	bottom: 5%;
	right: 0;
	left: 0;
	margin: auto;
	background-color: #eee;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
}

#thermometer-bar {
	width: 100%;
	position: absolute;
	bottom: 0;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	transition: height 0.3s, background-color 1s;
}

#thermometer-bar::after {
	content: '';
	position: absolute;
	left: -50%;
	top: 100%;
	width: 200%;
	transform: translateY(-5px);
	padding-bottom: 200%;
	border-radius: 50%;
	transition: background-color 1s;
}

#thermometer-bar.low,
#thermometer-bar.low::after {
	background-color: #5c85d6;
}

#thermometer-bar.medium,
#thermometer-bar.medium::after {
	background-color: #ffcc66;
}

#thermometer-bar.high,
#thermometer-bar.high::after {
	background-color: #ff6666;
}
